<module>
	<rawname>recordings</rawname>
	<name>Recordings</name>
	<version>2.0.7</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<recordings>System Recordings</recordings>
	</menuitems>
	<location>release/recordings-2.0.6.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-SysRec</info>
	<md5sum>9f2aedfbf117551454c1ab348f920ed9</md5sum>
</module>
